@import "~/.config/omarchy/current/theme/walker.css";

* { all: unset; font-family: monospace; font-size: 18px; color: #f8f8f2; }
scrollbar { opacity: 0; }
.normal-icons { -gtk-icon-size: 16px; } .large-icons { -gtk-icon-size: 32px; }

.box-wrapper {
  background: rgba(40, 42, 54, 0.95);
  padding: 10px;
  border: 2px solid #bd93f9;
  border-radius: 16px;
}
.search-container { padding: 10px; }
.input { color: #ff79c6; font-size: 20px; }
child:selected .item-box { background: rgba(68, 71, 90, 0.8); border-radius: 10px; }
child:selected .item-box * { color: #50fa7b; }
.item-box { padding-left: 14px; }
.item-text-box { padding: 14px 0; }
.item-image { margin-right: 14px; }